*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.menudropdown1{
    width: 90%;
    margin: 0px auto;
}
.menudropdown1 ul{
    padding: 0px;
}
.menudropdown1 ul li{
    float: left;
    background-color: aquamarine;
    color: white;
    width: 200px;
    height: 50px;
    line-height: 50px;
    list-style: none;
    font-size: 22px;
    text-align: center;
    opacity: 0.6px
}
.menudropdown1 ul li ul{
    display: none;
}
.menudropdown1 ul li:hover > ul{
    display: block;
}
.menudropdown1 ul li:hover{
    background-color: aqua;
    border-bottom: 1px solid white;
}